
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  overflow: hidden;
}

h1 {
  position: top;
  margin-top: 30px;
  color: white;
}
svg {
  width: 90vw;
  height: 90vh;
}
path {
  fill: #555;
  cursor: pointer;
}
path:hover {
  fill: deepskyblue;
}