
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  overflow: hidden;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
        
}       

h1 {
  position: top;
  margin-top: 30px;
  color: white;
}

.content {
  grid-area: content;
  position: relative;
}

svg {
  width: 90vw;
  height: 90vh;
}

path {
  fill: #555;
  cursor: pointer;
}

path:hover {
  fill: deepskyblue;
}

.header,
.footer {
  background-color: #999;
}
